<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
           version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>UsrLogin</display-name>
        <servlet-name>UsrLogin</servlet-name>
        <servlet-class>servlets.UsrLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsrLogin</servlet-name>
        <url-pattern>/action/UsrLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>UsrRegister</display-name>
        <servlet-name>UsrRegister</servlet-name>
        <servlet-class>servlets.UsrRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsrRegister</servlet-name>
        <url-pattern>/action/UsrRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>UploadAvatar</display-name>
        <servlet-name>UploadAvatar</servlet-name>
        <servlet-class>servlets.UploadAvatar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadAvatar</servlet-name>
        <url-pattern>/action/UploadAvatar</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>UsrInfoUpdate</display-name>
        <servlet-name>UsrInfoUpdate</servlet-name>
        <servlet-class>servlets.UsrInfoUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsrInfoUpdate</servlet-name>
        <url-pattern>/action/UsrInfoUpdate</url-pattern>
    </servlet-mapping>
</web-app>
